/* src/styles/Header.css */

.main-header {
  padding: 15px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky; 
  top: 0;
  z-index: 1000;
  background-color: var(--header-bg); /* Use variable */
  color: var(--text-color); /* Use variable */
}

.nav-bar {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo h1 {
  font-size: 1.5em;
  color: #61dafb; /* React blue */
  margin: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  padding: 5px 10px;
  transition: color 0.3s, border-bottom 0.3s;
}

.nav-links a:hover {
  color: #61dafb;
  border-bottom: 2px solid #61dafb;
}